---
swagger: '2.0'
info:
  version: 1.0.0
  title: Keydesk server
basePath: /
paths:
  /token:
    post:
      produces:
        - application/json
      responses:
        201:
          description: Token created.
          schema:
            $ref: "#/definitions/token"
        503:
          description: 'Maintenance'
          schema:
            $ref: "#/definitions/maintenance_error"
        500:
          description: 'Internal server error'
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /user:
    get:
      security:
        - Bearer: [ ]
      produces:
        - application/json
      responses:
        200:
          description: A list of users.
          schema:
            type: array
            items:
              $ref: "#/definitions/user"
        403:
          description: 'You do not have necessary permissions for the resource'
        503:
          description: 'Maintenance'
          schema:
            $ref: "#/definitions/maintenance_error"
        500:
          description: 'Internal server error'
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
    post:
      security:
        - Bearer: [ ]
      produces:
        - application/json
      responses:
        201:
          description: New user created.
          schema:
            $ref: "#/definitions/newuser"
        403:
          description: 'You do not have necessary permissions for the resource'
        503:
          description: 'Maintenance'
          schema:
            $ref: "#/definitions/maintenance_error"
        500:
          description: 'Internal server error'
        default:
          description: error
          schema:
            $ref: "#/definitions/error"

  /user/{UserID}:
    delete:
      security:
        - Bearer: [ ]
      produces:
        - application/json
      parameters:
        - type: string
          name: UserID
          in: path
          required: true
      responses:
        204:
          description: User deleted.
        403:
          description: 'You do not have necessary permissions for the resource'
        503:
          description: 'Maintenance'
          schema:
            $ref: "#/definitions/maintenance_error"
        500:
          description: 'Internal server error'
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /users/stats:
    get:
      security:
        - Bearer: [ ]
      produces:
        - application/json
      responses:
        200:
          description: A list of stats.
          schema:
            $ref: "#/definitions/stats"
        403:
          description: 'You do not have necessary permissions for the resource'
        503:
          description: 'Maintenance'
          schema:
            $ref: "#/definitions/maintenance_error"
        500:
          description: 'Internal server error'
        default:
          description: error
          schema:
            $ref: "#/definitions/error"
  /messages:
    get:
      summary: Get messages
      description: Get messages, used by frontend. JWT token is required.
      operationId: getMessages
      security:
        - Bearer: [ ]
      parameters:
        - in: query
          name: offset
          type: integer
          default: 0
        - in: query
          name: limit
          type: integer
          default: 25
        - in: query
          name: read
          type: boolean
        - in: query
          name: priority
          type: integer
        - in: query
          name: sort-priority
          type: string
          enum:
            - asc
            - desc
        - in: query
          name: sort-time
          type: string
          enum:
            - asc
            - desc
        - in: query
          name: priority-op
          type: string
          default: eq
          enum:
            - eq
            - ne
            - gt
            - lt
            - ge
            - le
      responses:
        200:
          description: List of messages
          schema:
            $ref: '#/definitions/Messages'
        500:
          $ref: '#/definitions/error'
  /messages/{id}/read:
    post:
      summary: Mark message as read
      description: Used by frontend. JWT token is required.
      operationId: markMessageAsRead
      security:
        - Bearer: [ ]
      parameters:
        - in: path
          name: id
          type: string
          format: uuid
          required: true
      responses:
        200:
          description: OK
        default:
          description: error
          schema:
            $ref: "#/definitions/error"

definitions:
  token:
    type: object
    required:
      - Token
    properties:
      Token:
        type: string
  newuser:
    type: object
    required:
      - UserName
    properties:
      UserName:
        type: string
      WireguardConfig:
        type: object
        required:
          - TonnelName
          - FileName
          - FileContent
        properties:
          TonnelName:
            type: string
          FileName:
            type: string
          FileContent:
            type: string
      AmnzOvcConfig:
        type: object
        required:
          - TonnelName
          - FileName
          - FileContent
        properties:
          TonnelName:
            type: string
          FileName:
            type: string
          FileContent:
            type: string
      IPSecL2TPManualConfig:
        type: object
        required:
          - Server
          - PSK
          - Username
          - Password
        properties:
          Server:
            type: string
          PSK:
            type: string
          Username:
            type: string
          Password:
            type: string
      OutlineConfig:
        type: object
        required:
          - AccessKey
        properties:
          AccessKey:
            type: string
      VPNGenConfig:
        $ref: '#/definitions/VGC'
  user:
    type: object
    required:
      - UserID
      - UserName
      - CreatedAt
      - Status
      - MonthlyQuotaRemainingGB
    properties:
      UserID:
        type: string
      UserName:
        type: string
      Status:
        type: string
      CreatedAt:
        type: string
        format: date-time
      ThrottlingTill:
        type: string
        format: date-time
        x-nullable: true
      MonthlyQuotaRemainingGB:
        type: number
        format: float
      LastVisitHour:
        type: string
        format: date-time
        x-nullable: true
      PersonName:
        type: string
      PersonDesc:
        type: string
      PersonDescLink:
        type: string
  stats:
    type: object
    required:
      - TotalUsers
      - ActiveUsers
      - TotalTrafficGB
    properties:
      TotalUsers:
        type: array
        items:
          type: object
          required:
            - Month
            - Value
          properties:
            Month:
              type: integer
            Value:
              type: integer
      ActiveUsers:
        type: array
        items:
          type: object
          required:
            - Month
            - Value
          properties:
            Month:
              type: integer
            Value:
              type: integer
      TotalTrafficGB:
        type: array
        items:
          type: object
          required:
            - Month
            - Value
          properties:
            Month:
              type: integer
            Value:
              type: number
              format: float
  error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
      message:
        type: string
  maintenance_error:
    type: object
    required:
      - code
      - message
      - retry_after
    properties:
      code:
        type: integer
      message:
        type: string
      retry_after:
        type: string
  Message:
    type: object
    properties:
      id:
        type: string
        format: uuid
      text:
        type: string
      title:
        type: string
      is_read:
        type: boolean
      priority:
        type: integer
      time:
        type: string
        format: date-time
      ttl:
        type: string
    required:
      - text
      - title
  Messages:
    type: object
    properties:
      messages:
        type: array
        items:
          $ref: '#/definitions/Message'
      total:
        type: integer
    required:
      - messages
      - total
  VGC:
    type: string
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
