[Unit]
Description = Keykeeper
Requires=%p@.socket

[Service]
User=%i
Group=%i
WorkingDirectory=/opt/user
ExecStart = /opt/user/user

[Install]
WantedBy=multi-user.target

