[Unit]
Description=Keydesk socket
After=network-online.target
Wants=network-online.target

[Socket]
# ListenStream = 80
BindIPv6Only = both
NoDelay=true

[Install]
WantedBy = sockets.target

