[Unit]
Description = VPNGen Keydesk

[Service]
User=%i
Group=%i
WorkingDirectory=/home/%i
ExecStart = /opt/vgkeydesk/keydesk

[Install]
WantedBy=multi-user.target
