[Unit]
Description = VPNGen Stats Service
After=network-online.target
Wants=network-online.target

[Service]
User=%i
Group=%i
WorkingDirectory=/home/%i
ExecStart = /opt/vgkeydesk/stats

[Install]
WantedBy=multi-user.target
